.features__picture-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.features__picture-link {
  // width: 270px;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features__picture {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
    &:not(:nth-child(4)) {
      margin-right: 30px;
    }
  }
}
.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features__items {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
    &:not(:nth-child(4)) {
      margin-right: 30px;
    }
  }
}

.features__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
  }
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
