.logo__block {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-right: 93px;
}
.logo-dark {
  color: #000000;
}
.logo-light {
  color: #ffffff;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header__conteiner {
  width: 100%;
  display: flex;
  align-items: center;
}
.subtitle__list {
  display: flex;
}
.subtitle__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.current {
  color: var(--second-color);
}

.subtitle__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--second-color);
  }
}

.subtitle__studio__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--second-color);
  }
  &::after {
    content: "";
    position: absolute;
    display: flex;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -35px;
    border-radius: 2px;
    background-color: var(--second-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.subtitle__studio__link::after:hover,
.subtitle__studio__link::after:focus {
  color: var(--second-color);
}
.subtitle__portfolio__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--second-color);
  }
  &::after {
    content: "";
    position: absolute;
    display: flex;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -35px;
    border-radius: 2px;
    background-color: var(--second-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.subtitle__portfolio__link::after:hover,
.subtitle__portfolio__link::after:focus {
  color: var(--second-color);
}
.contacts__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--text-color);
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.contacts__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--second-color);
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
.menu-open-btn {
  margin-left: auto;
  border-radius: 0;
}
