.mobile-work {
  @media screen and (min-width: 386px) {
    display: none;
  }
}
.mobile-work {
  @media screen and (min-width: 786px) {
    display: none;
  }
}
.mobile-work {
  @media screen and (min-width: 1200px) {
    display: inline;
  }
}

.work {
  padding-top: 0;
}
.work__list {
  display: flex;
  flex-wrap: wrap;
}

.work__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.work__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
// }
