.backdrop {
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  transition: opacity 500ms, visibility 500ms;
  @media screen and (min-width: 580px) {
    padding: 0;
  }
}
.backdrop.is-hidden .modal {
  transform: scale(0.5);
}
.modal {
  position: relative;
  background-color: #ffffff;
  border-radius: 4px;

  min-width: 90vw;
  min-height: 581px;
  transition: transform 600ms;
  padding: 40px 43px;
  @media screen and (min-width: 768px) {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  &:hover,
  &:focus {
    color: var(--second-color);
  }
}

.button-close {
  fill: currentColor;
  &:hover,
  &:focus {
    color: var(--second-color);
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  margin-bottom: 42px;
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border: 1px solid #2196f3;
    cursor: pointer;
  }
  &:focus + .input-icon {
    fill: var(--second-color);
    cursor: pointer;
  }
}

.form-field {
  margin-bottom: 10px;
}
.input-wrap {
  position: relative;
  margin-top: 4px;
}
.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  cursor: pointer;
}
.form-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
  padding: 12px 16px;
  &:focus {
    outline: none;
    border: 1px solid #2196f3;
    cursor: pointer;
  }
  &::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.check-text {
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;

  font-size: 12px;
  line-height: 1.17;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8.38px;
  }
}

.policy-check:checked + .check-text::before {
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.link-dogovor {
  color: var(--second-color);
}
.form-field-check {
  margin-bottom: 31px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}
.check-btn {
  border: none;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
  }
}
